{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employeeid</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Title</th>
                <th>Status</th>
                <th>Empenddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.employeeid }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.status }}</td>
                <td>{% if entity.empenddate %}{{ entity.empenddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('person_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('person_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('person_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
